.Layout
	width auto
	&-messages
		width 100%
	&-board
		width 80%
		height 100vh
		padding 1em 1em
		margin .7em auto 0 
		//border(blue)
		display flex
		justify-content space-around
	&-cards
		//border(green)
	&-buttonSelectCard
		text-align center
		color white
		background cOrange
		padding 0.5em
		font-family 'Open Sans', serif
		max-width 50px
		margin .5em auto
		cursor pointer
		border-radius 0.3em
		box-shadow 0px 0px 5px gray
		font-size 1.5em