section.Layout
	div.Layout-messages
		include ../message/template
	div.Layout-board
		div.Layout-cards
			div.Layout-buttonSelectCard(data-number="1") 1
		div.Layout-cards
			div.Layout-buttonSelectCard(data-number="2") 2
		div.Layout-cards
			div.Layout-buttonSelectCard(data-number="3") 3
	footer.Layout-footer
		include ../footer/template