.Message
	background cBlueGrey
	margin 0
	padding 0 3em
	height 80px
	width 100%
	display table
	word-wrap break-word
	box-sizing border-box
	&-text
		text-align center
		padding 0 5em
		margin 0
		color white
		display table-cell
		vertical-align middle
		font-family 'Open Sans', serif
		font-size 1.5em
