cBlack = #212121
cOrange = #FF5722
cOrangeBorder = #E64A19
cBlueGrey =#607D8B


border(color= red)
	border 1px color solid


@import 'nib'
@import './card/styles.styl'
@import './header/styles.styl'
@import './layout/styles.styl'
@import './message/styles.styl'
@import './footer/styles.styl'
@import './answer/styles.styl'

body
	margin 0 
	padding 0
	font-family 'Cinzel', cursive


	