<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Adivinador de Cartas
	link(rel="stylesheet", href="./public/css/app.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cinzel:700")
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>		
body
	include ./header/template
	include ./layout/template
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="./public/js/app.js")
	include share.html

	