.Header
	width 100%
	background cOrange
	display table
	height 5em
	border-bottom 0.4em solid cOrangeBorder
	&-title
		color white
		font-size 2.2em
		text-align center
		margin 0
		padding 0
		display table-cell
		vertical-align middle